parameters:
  level: 5
  ignoreErrors:
        -
            message: "#^Parameter \\#1 \\$callable of method PhpOption\\\\LazyOption\\<mixed\\>\\:\\:getOrCall\\(\\) expects callable\\(\\)\\: S, 'does_not_exist' given\\.$#"
            count: 4
            path: tests/PhpOption/Tests/LazyOptionTest.php

        -
            message: "#^Call to an undefined method PhpOption\\\\Tests\\\\LazyOptionTest\\:\\:setExpectedException\\(\\)\\.$#"
            count: 4
            path: tests/PhpOption/Tests/LazyOptionTest.php

        -
            message: "#^Parameter \\#1 \\$callback of class PhpOption\\\\LazyOption constructor expects callable\\(\\.\\.\\.mixed\\)\\: PhpOption\\\\Option\\<T\\>, 'invalidCallback' given\\.$#"
            count: 1
            path: tests/PhpOption/Tests/LazyOptionTest.php

        -
            message: "#^Parameter \\#1 \\$callback of static method PhpOption\\\\LazyOption\\<mixed\\>\\:\\:create\\(\\) expects callable\\(\\.\\.\\.mixed\\)\\: PhpOption\\\\Option\\<mixed\\>, 'invalidCallback' given\\.$#"
            count: 1
            path: tests/PhpOption/Tests/LazyOptionTest.php

        -
            message: "#^Call to an undefined method PhpOption\\\\Tests\\\\NoneTest\\:\\:setExpectedException\\(\\)\\.$#"
            count: 2
            path: tests/PhpOption/Tests/NoneTest.php

        -
            message: "#^Result of method PhpOption\\\\None\\:\\:ifDefined\\(\\) \\(void\\) is used\\.$#"
            count: 1
            path: tests/PhpOption/Tests/NoneTest.php

        -
            message: "#^Parameter \\#1 \\$array of static method PhpOption\\\\Option\\<mixed\\>\\:\\:fromArraysValue\\(\\) expects array\\<int\\|string, mixed\\>\\|ArrayAccess\\<int\\|string, mixed\\>\\|null, 'foo' given\\.$#"
            count: 1
            path: tests/PhpOption/Tests/OptionTest.php

        -
            message: "#^Parameter \\#1 \\$callable of method PhpOption\\\\Some\\<string\\>\\:\\:getOrCall\\(\\) expects callable\\(\\)\\: S, 'does_not_exist' given\\.$#"
            count: 2
            path: tests/PhpOption/Tests/SomeTest.php

        -
            message: "#^Parameter \\#1 \\$value of method PhpOption\\\\Some\\<string\\>\\:\\:select\\(\\) expects string, true given\\.$#"
            count: 1
            path: tests/PhpOption/Tests/SomeTest.php

        -
            message: "#^Parameter \\#1 \\$value of method PhpOption\\\\Some\\<string\\>\\:\\:reject\\(\\) expects string, null given\\.$#"
            count: 1
            path: tests/PhpOption/Tests/SomeTest.php

        -
            message: "#^Parameter \\#1 \\$value of method PhpOption\\\\Some\\<string\\>\\:\\:reject\\(\\) expects string, true given\\.$#"
            count: 1
            path: tests/PhpOption/Tests/SomeTest.php
