includes:
    - phpstan-baseline.neon

parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: "#^Method PhpOption\\\\Option\\:\\:fromReturn\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
            count: 1
            path: src/PhpOption/Option.php
