parameters:
  level: max
  ignoreErrors:
    - '/\$arguments [a-z ]+ no value type specified in iterable type array/'
    - '#Method PhpOption\\Option::fromValue\(\) should return PhpOption\\Option<S> but returns PhpOption\\Some<N|S>.#'
